/*-------------*/
@use "functions" as *;
@use "tokens/tokens" as *;
/*-------------*/

:root {
    color-scheme: light dark;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:focus {
    outline: 1px solid $main--color; 
    outline-offset: 1px;
    transition: outline-color 0.2s ease-in-out;
  }
  
  :focus-visible {
    outline: 1px solid $main--color;
    outline-offset: 2px;
    border-radius: 1px;
  }
  
  :focus:not(:focus-visible) {
    outline: none;
  }

html {
    scroll-behavior: smooth;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: middle;
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: inherit;
}

body {
    line-height: 1;
    background-color: light-dark($orange--98, $orange--03);
    color: $beige--87--main;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
    @include transition;
}

button {
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 100%;
    list-style: none;
    vertical-align: middle;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: $black;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: $black;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $neutral--86;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.img_fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.barra_media_livre {
    height: 36px;
    display: none;
    background: #e6e6e6;
    overflow: hidden;

    iframe {
        border: none;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 36px;
    }
}

.scrollingPage .barra_media_livre {
    display: none;
}

.sticky {
    position: sticky;
    top: 116px;
}

.mobile_only {
    display: none;
}

.mobile_hidden {
    display: block;
}



.loader {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: $neutral--92;
    border-right-color: $main--color;
    animation: spinner-d3wgkg 1s infinite linear;
    margin: 24px auto;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}



@media (min-width:992px) {
    .barra_media_livre {
        display: block;
        position: relative;
        z-index: 1;
    }
}

@media (max-width:767px) {
    .columns_2 {
        display: block;

        .main_content, .side_content.right_sideContent {
            padding: 0;
            margin: 0;
            flex: inherit;
            width: 100%;
        }

        .side_content {
            &.aside_content {
                display: none;
            }
        }
    }

    .mobile_only {
        display: block;
    }

    .mobile_hidden {
        display: none;
    }
}