//------------
// BASIC
//------------

$white: hsla(0, 0%, 95%, 1);
$black: hsla(0, 0%, 5%, 1);


//-----------
// Beige
//-----------

$beige--17: hsla(14, 19%, 17%, 1);
$beige--27: hsla(14, 19%, 27%, 1);
$beige--37: hsla(14, 19%, 37%, 1);
$beige--47: hsla(14, 19%, 47%, 1);
$beige--57: hsla(14, 19%, 57%, 1);
$beige--67: hsla(14, 19%, 67%, 1);
$beige--77: hsla(14, 19%, 77%, 1);
$beige--87--main: hsla(14, 19%, 87%, 1);
$beige--97: hsla(14, 19%, 97%, 1);


//-----------
// Orange
//-----------

$orange--03: hsla(11, 100%, 3%, 1);
$orange--10: hsla(11, 100%, 10%, 1);
$orange--20: hsla(11, 100%, 20%, 1);
$orange--30: hsla(11, 100%, 30%, 1);
$orange--40: hsla(11, 100%, 40%, 1);
$orange--50: hsla(11, 100%, 50%, 1);
$orange--60--main: hsla(11, 100%, 60%, 1);
$orange--70: hsla(11, 100%, 70%, 1);
$orange--80: hsla(11, 100%, 80%, 1);
$orange--90: hsla(11, 100%, 90%, 1);
$orange--98: hsla(11, 100%, 98%, 1);

//-----------
// Neutrals
//-----------

$neutral--12: hsla(0,0%,12%,1);
$neutral--14: hsla(0,0%,14%,1);
$neutral--16: hsla(0,0%,16%,1);
$neutral--18: hsla(0,0%,18%,1);
$neutral--20: hsla(0,0%,20%,1);
$neutral--24: hsla(0,0%,24%,1);
$neutral--30: hsla(0,0%,30%,1);
$neutral--40: hsla(0,0%,40%,1);
$neutral--50: hsla(0,0%,50%,1);
$neutral--60: hsla(0,0%,60%,1);
$neutral--70: hsla(0,0%,70%,1);
$neutral--82: hsla(0,0%,82%,1);
$neutral--86: hsla(0,0%,86%,1);
$neutral--92: hsla(0,0%,92%,1);
$neutral--96: hsla(0,0%,96%,1);
$neutral--98: hsla(0,0%,98%,1);


//---------------
// Main Colores
//---------------

$main--color: $orange--60--main;