{{ define "article" }} 


{{ range .Articles }}
    <article class="article">
        <a href="#" title="" class="article__link">
            <div class="article__container-image">
                <figure class="article__figure">
                    <img
                        src="{{ .Image.URL }}"
                        alt=""
                        class="article__image"
                    />
                </figure>
            </div>
            <div class="article__container-text">
                <p class="article__title">
                    {{ .Title }}
                </p>
                <p class="article__section">{{ .Theme.Theme }}</p>
                <p class="article__date">{{ .CreatedAt.Format "January 2, 2006" }}</p>
            </div>
        </a>
    </article>
    {{ end }}
{{ end }}