{{ define "article" }} 

    <article class="article">
        <a href="#" title="" class="article__link">
            <div class="article__container-image">
                <figure class="article__figure">
                    <img
                        src="/public/img/4x2/1344x504_01.jpg"
                        alt=""
                        class="article__image"
                    />
                </figure>
            </div>
            <div class="article__container-text">
                <p class="article__title">
                    The Rise of AI: Transforming the Future
                </p>
                <p class="article__section">Technology</p>
                <p class="article__date">October 10, 2023</p>
            </div>
        </a>
    </article>

{{ end }}