{{define "header"}}
<header class="header">
    <div class="header__left">
        <a href="#" title="" class="header__logo">The Blog Hub</a>
    </div>
    <div class="header__middle">
        <nav class="header__nav">
            <a href="#" class="header__link">Home</a>
            <a href="#" class="header__link">Technology</a>
            <a href="#" class="header__link">Lifestyle</a>
            <a href="#" class="header__link">Travel</a>
            <a href="#" class="header__llink">Food</a>
        </nav>
    </div>
    <div class="header__right">
        <a href="#" class="header__link header__link--orange">Subscribe</a>
        <a href="#" class="header__link header__link--orange">Sign In</a>
    </div>
</header>
{{end}}